/*

	=== COLOURS ===

*/

$primary-accent: rgb(72,140,253);
$secondary-accent: #2B4570;

$primary-light: rgb(255, 255, 255);
$secondary-light: rgb(245,248,255);

$primary-dark: rgb(32,31,40);
$secondary-dark: rgb(43,42,52);


/*

	=== STUFF ===

*/